.chat-button {
  display: none !important;
}
.chat-btn-container {
  height: 44.5px;
}
@media (max-width: 900px) {
  .chat {
    position: absolute;
    right: -400px;
    top: 161px;
  }
  .chat-button {
    display: inline-flex !important;
  }
  .show-chat {
    right: 0px;
  }
}

.crown {
  height: 15px;
  display: block;
  margin: auto;
}

.crown path {
  fill: white;
}

body {
  overflow-x: hidden;
}
